@font-face {
  font-family: "Century Gothic";
  src: url("resources/fonts/GOTHIC.TTF");
}
@font-face {
  font-family: "Century Gothic Bold";
  src: url("resources/fonts/GOTHICB0.TTF");
}

/* color variables */
:root {
  --lightgrey: #e6e7e8;
  --darkpurple: #262262;
  --blue: #2e3192;
  --black: #000;
  --white: #f7f7f7;
  --pink: #f3eeea;

  --gradient-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  --gradient-shadow-white: 0 0 10px 4px rgba(255, 255, 255, 0.2),
    0 0 20px 6px rgba(255, 255, 255, 0.1);
  --gradient-shadow-bing: 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.5);

  /* alternative colors */
  --alt-blue: #0661c5;
  --alt-purple: #551a8b;
  --alt-greyblue: #dae2f0;
  --alt-darkblue: #0f182c;
}

/* boilerplate reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all ease 300ms;
}

body {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.2em;
  height: 100vh;
  background: var(--lightgrey);
  /* color: var(--darkpurple); */
  /* font-family: "Toma Sans", sans-serif; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-weight: 400; */
}

.wrapper {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  /* font-family: "Silk Serif Regular", sans-serif; */
  font-family: "Century Gothic Bold", sans-serif;
  margin: none;
  padding: none;
  line-height: 1.3em;
}

/* animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* fine animations */

/* WEBSITE STYLE */

ul li {
  width: fit-content;
  margin-left: auto;
  /* text-align: end; */
  list-style-type: none;
}

p:not(:last-child) {
  padding-bottom: 40px;
}

/* sidenav start */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkpurple);

  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  color: var(--lightgrey);
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0661c5;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  opacity: 0;
}

.openbtn {
  color: var(--blue);
  text-decoration: none;
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* sidenav end */

/* header-test-3 */
header.header-test-3 {
  font-size: x-large;
  background: var(--lightgrey);
  padding: 40px 40px 0px 40px;
  display: flex;
  flex-direction: row;
}
header.header-test-3 * {
  color: var(--darkpurple);
}

header.header-test-3::after {
  /* triangolo alto destra */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 50px solid transparent;
  border-right: 50px solid var(--darkpurple);
}

header .header-foto-contenitore {
  /* width: 220px;
  height: 220px; */
  border-radius: 50%;
  margin-right: 50px;
  /* background: var(--alt-darkblue); */
  position: relative;
  top: 30px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
  /* object-fit: cover; */
}

header .header-foto-contenitore img {
  border: 6px var(--alt-darkblue) solid;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 138px;
  height: 100%;
}
header .titolo {
}

hr.linea-doppia {
  /* transform: translateY(3px); */
  margin-top: 10px;
  border-top: 2px solid;
  width: 25%;
}
hr.linea-singola {
  margin-bottom: 20px;
  border-top: 1px solid;
  transform: translateY(-2px);
  opacity: 0.6;
}

/* fine header-test-3 */

/* main */
main {
  margin: 40px;
  margin-left: 40px;
  padding: 0px 40px 0px 40px;
  /* background: var(--darkpurple); */
  background: var(--lightgrey);
  border-left: 1px solid var(--blue);
}

main .categoria:not(:last-child) {
  padding-bottom: 20px;
}

.hero-titolo {
  cursor: pointer;
  width: fit-content;
  color: var(--lightgrey);
  background: var(--darkpurple);
  padding: 4px 16px 4px 16px;
  margin: 40px 20px 10px 0;
  box-shadow: -4px 4px 0px 0px #dae2f08c;
  transform: skewX(-20deg);
  position: relative;
  top: -6px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.hero-titolo * {
  transform: skewX(20deg);
  text-transform: uppercase;
  /* font-family: "Century Gothic"; */
}

.categoria::before {
  content: "";
  position: absolute;
  /* top: 20px; */
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--blue);
  /* transform: skewX(20deg); */
}

.hero-titolo:hover {
  color: var(--darkpurple);
  background-color: var(--lightgrey);
  border: 2px solid var(--darkpurple);
  box-shadow: -8px 8px 0px 0px var(--darkpurple);
  /* transform: scale(1.2) skewX(-20deg) translate(10px, 0px); */
}

/* galleria immagini slanted */
.galleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  /* transform: skew(-20deg); */
  /* overflow: hidden;
  display: inline-block;
  width: 200px; */
  /* height: auto; */
}

.galleria img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  /* transform: skew(20deg); */

  /* position: absolute; */
}

/* fine main */
