.lqd-fb-inner:hover {
  background-color: #820040 !important;
}

@media only screen and (max-width: 767px) {
  .sticky-header-to-hide {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav-trigger {
    background: #fff;
    border-radius: 0 !important;
  }

  .nav-trigger:hover,
  .nav-trigger.is-active {
    background: #820040 !important;
    border-radius: 0 !important;
  }
}

/*header nav button*/
.elementor-element-422d040 > .elementor-widget-container {
  cursor: pointer;
  height: 55px !important;
  /*margin-top: 30px;*/
  background: transparent;
}

.pos-rel:hover {
  background-color: transparent !important;
}

/*mobile nav menu*/
.mobile-nav-activated [data-mobile-nav-style="modern"] .lqd-mobile-sec::before {
  background: #576999;
}

.mobile-navbar-collapse.is-active {
  margin-top: 50px;
}

.menu-item-3757 a:hover {
  color: #820040 !important;
}
/*.elementor-element.elementor-element-e30de50 .lqd-custom-menu > .reset-ul > li:not(:last-child) {*/
/*  margin-bottom: 3px !important;*/
/*}*/

.is-stuck
  > .elementor
  > .elementor-section
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap
  > .elementor-element
  > .elementor-widget-container
  > .module-primary-nav
  > .navbar-collapse
  .main-nav
  > li
  > a {
  color: unset;
}
