@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
/* import Kenia, Bubblegum */

@media only screen and (max-width: 750px) {
  body {
    font-family: "Lato";
    /* todo temp for dev */
    /* background-color: lightblue;  */
  }

  #canvas {
    padding: 10px;
    margin: 10px;
  }

  #canvas {
    display: none;
  }

  .logo-container {
    margin-right: 0px !important;
  }

  .mobile-header {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
    background-color: #333;
    height: 40px;
    padding: 10px;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.6);
  }

  a.hamburger {
    z-index: 7;
    margin: 0;
    position: relative;
    top: -18%;
    left: 0%;
    /* transform: translate(-25%); */
    /* padding: 0px; */
    cursor: pointer;
  }

  #mobile-logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-family: "Kenia"; */
    /* font-family: "Roboto"; */
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    white-space: nowrap !important;
    color: #fff;
    transition: color 300ms ease;
  }

  #mobile-logo:hover {
    /* color: #00dbde; */
    color: rgb(255, 203, 106);
  }

  i {
    color: #fff;
  }

  .grid-container {
    margin: 0px 10px;
  }

  .grid {
    margin-top: 100px !important;
  }

  .mobile-nav {
    display: block !important;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: -10;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background: #fff;
    max-height: calc(100vh-70px);
    /* padding: 10px 0; */
    opacity: 0;
    transition: all 500ms ease;
  }

  .mobile-nav ul {
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }

  .mobile-nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    float: none;
    text-align: center;
    /* margin: 0;
    padding: 0; */
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .mobile-nav ul li a {
    letter-spacing: 0.2em;
    /* font-size: 15px; */
    padding: 30px 20px 30px 20px;
  }

  .mobile-nav.open {
    z-index: 10;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "neusa-next-std-condensed",sans-serif; */
  font-family: "Lato", Calibri, Arial, sans-serif;
  color: #6b7381;
  /* color: #575757; */
  background: #f2f2f2;
  /* background: #f5eee1; */
  font-weight: 300;
  font-style: normal;
  line-height: 1.2em;
  font-size: 15px;
  background-image: none;
  background-size: auto;

  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0; */

  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  text-transform: none;
  text-decoration: none !important;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* .mobile-header,
.mobile-nav {
  display: none;
} */

.mobile-header,
.mobile-nav {
  display: none;
}

/* h1 {
  font-weight: 700;
} */

#canvas {
  margin: 10px auto;
  padding: 15px;
}

.main-header {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.logo-container {
  /* height: 100px; */
  display: inline-block;
  /* line-height: 0; */
  padding-bottom: 6px;
  margin: 0;
  margin-right: 80px;
}

.logo a {
  /* font-family: "Kenia"; */
  font-family: "Roboto";
  font-weight: 700;
  transition: color 500ms ease-in-out;
  /* color: #551a8b; */
}

.logo a:hover {
  /* color: #551a8b; */
  color: #000;
  color: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

#topNav {
  position: relative;
  text-align: center;
  /* font-size: 13px; */
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  float: right;
}

#topNav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
}

#topNav nav li {
  float: left;
  position: relative;
  margin-right: 30px;
  text-decoration: none !important;
}

#topNav nav li a {
  display: inline block;
  line-height: 26px;
  padding: 12px 0;
  text-decoration: none !important;
  position: relative;
  align-items: center;
}

.page-collection,
.logo-container {
  transition: all 0.2s ease-in-out;
}

.page-collection:hover {
  transform: scale(1.2);
}

/* MIDDLE LINE */
.page-collection a:before,
.logo-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #58554f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.page-collection a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* LINE LEFT TO RIGHT */
/* #topNav nav li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom:10px;
  left:0;
  background-color: #58554f;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#topNav nav li a:hover:before {
  visibility: visible;
  width: 100%;
} */

/* #topNav .social-icons {
  align-items: flex-end;
  display:inline;
  width:auto;
} */

.container>header {
  text-align: center;
  background: rgba(0, 0, 0, 0.01);
}

header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  text-align: center;
}

a {
  color: #58554f;
  text-decoration: none;
}

/* a:hover, a:active { */
/* color: #58554f; */
/* background-color: transparent; */
/* font-weight: 400; */
/* } */

.icon-collection {
  /* display: flex; */
  align-items: center;
}

.icon-collection i {
  vertical-align: bottom;
  padding: 6px;
  /* margin: 12px; */
  transition: all 0.2s ease-in-out;
}

.icon-collection i:hover {
  transform: scale(1.8);
}

.grid-container {
  /* width: 100%; */
  /* height: 100%; */
  margin: 0px 20px;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 90em;
  list-style: none;
  margin: 25px auto;
  /* margin: 0 auto; */
  /* padding: 0; */
  /* background-color: #575757; */
}

.grid-item {
  display: block;
  position: relative;
  float: left;
  margin: 7px;
  /* box-shadow: 0 0 10px 4px rgba(0,0,0,0.1); */
  /* background: #D26; */
  /* border: 2px solid #58554f; */
  /* border-color: hsla(0, 0%, 0%, 0.5); */
  /* border-radius: 5px; */
}

.grid a,
.grid img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

/* Effect 2: Move Up */
li.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* KEEP AS ORIGINAL */
/* .grid img {
  float: left;
  width: 400px;
  height: 270px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
} */

/* BANNER TEST */
.grid-image {
  float: left;
  /* width: 100%; */
  height: 25vw;
  max-height: 200px;
  /* height: 340px; */
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.gallery-overlay {
  object-fit: cover;
  display: flex;
  /* check */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: hsla(0, 0%, 0%, 0.4);
  /* background-size: 500px; */
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* width: 20vw;
  height: 20vh; */
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  /* opacity: 0.7; */
}

.gallery-overlay-outerbox {
  position: relative;
  /* width: auto;
  height: auto; */
}

.gallery-overlay-innerbox {
  position: relative;
  overflow: visible;
  /* width: 80vw; */
  /* height: 300px; */
}

.gallery-overlay-image {
  max-width: 85vw;
  max-height: 85vh;
  display: block;
}

.grid-image-overlay {
  z-index: 2;
  position: absolute;
  display: inline-block;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0);
  background-image: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6));
  border-radius: 15px;
  cursor: pointer;
}

.grid-image-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.grid-image-text {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  top: 50%;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.close-button {
  position: absolute;
  top: -25px;
  right: 10px;
  transition: 200ms ease-out;
  color: #fff;
  cursor: pointer;
}

.close-button:hover {
  color: #58554f;
}

.gallery-overlay-nav {
  position: absolute;
  top: 0;
  width: 45%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  z-index: 3;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 50px;
  font-weight: normal;
  line-height: 0.5em;
  color: #fff;
  background-color: transparent;
  opacity: 0;
  transition: 200ms ease-out;
}

.gallery-overlay-prev {
  left: 0;
}

.gallery-overlay-next {
  right: 0;
}

.gallery-overlay-nav:hover {
  opacity: 1;
}

.gallery-overlay-prev::before {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  content: "\3008";
  z-index: 3;
  font-size: 70px;
  color: #00dbde;
  text-shadow: 3px 3px #004d4e;
}

.gallery-overlay-next::before {
  position: absolute;
  top: 50%;
  right: 0;
  /* necessary for font dimension */
  margin-top: -18px;
  content: "\3009";
  z-index: 3;
  font-size: 70px;
  color: #00dbde;
  text-shadow: 3px 3px #004d4e;
}

.gallery-overlay-title {
  color: #ffffff;
  font-family: "Quattrocento", serif;
  /* font-family: "Roboto"; */
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  padding-top: 10px;
}

/* CONTACT PAGE */
body#contact-page,
.bg-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main-contact {
  background-color: #fff;
  width: 60vw;
  max-width: 800px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

#contact-page input {
  outline: none;
  border: none;
}

#contact-page textarea {
  outline: none;
  border: none;
  resize: none;
}

#contact-page button {
  outline: none !important;
  border: none;
  background: transparent;
}

#contact-page button:hover {
  cursor: pointer;
}

#contact-page iframe {
  border: none !important;
}

/* .bg-contact {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/* .bg-contact {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
} */

/* TODO THINGS TO FIX */

.contact-form {
  width: 100%;
  padding: 80px 80px;
}

.contact-form-title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  color: #58554f;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-size: 20px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input.input2 {
  height: 45px;
}

input.input2+.focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2+.focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus+.focus-input2::after {
  top: -13px;
}

.input2:focus+.focus-input2::before {
  width: 100%;
}

.has-val.input2+.focus-input2::after {
  top: -13px;
}

.has-val.input2+.focus-input2::before {
  width: 100%;
}

/* [ Button ]*/
.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  /* background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935); */
  background: #a64bf4;
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  /* border-radius: 25px; */

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact-form-btn:hover .contact-form-bgbtn {
  left: 0;
}

@media (max-width: 576px) {
  .wrap-contact {
    padding: 72px 15px 90px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}